// about.scss

.section {
	height: 100vh;
	scroll-snap-align: start;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
	flex-direction: column;
    // background-image: url("/assets/img/banner-bg.svg");
    // background-repeat: no-repeat;
    // background-size: fill;
    // background-position: center, center, 50%, 50%;
}

#about {
    header {
        display: flex;
        align-items: center;
        justify-content: start;
        margin: 2em;

        svg.logo {
            margin-right: 1em;
            height: 3em;
            width: 3em;
            cursor: pointer;
        }

        h1 {
            margin: 0px;
        }
    }

    content {
        display: flex;
        height: 80%;
        width: 60em;
        margin-left: 6em;

        .about-text {
            z-index: 2;
            align-self: center;
            font-size: 24px;
            white-space: word-break;
        }
    }
    @import "./mobile/about.scss";
}