/* layout */
.container {
	height: 100vh;
	width: 100%;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	overflow-x: hidden;
}

.section {
	height: 100vh;
	scroll-snap-align: start;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow-x: scroll;
}