/* layout */
.container {
	height: 100vh;
	width: auto;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
}

.section {
	height: 100vh;
	scroll-snap-align: start;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}