.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    z-index: 1000;

    .modal-card {
        height: 80%;
        width: 85%;
        position: relative;
        background-color: $space-gray;
        border-radius: 2em;
        padding: 1em;
        box-shadow: 0px 2px 10px $space-black-modal;
        z-index: 1001;
        // overflow: auto;
    }

    .close-button {
        position: absolute;
        top: 0.9em;
        right: 0.8em;
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
        z-index: 1002;
        color: #fff;
    }

    .error-msg {
        justify-self: center;
        align-self: center;
    }

    .error-icon {
        color: #fe8484;
    }
}