/* layout */

.section {
	height: 100vh;
	scroll-snap-align: start;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: center;
	flex-direction: column;

}

#projects {
    header {
        display: flex;
        align-items: center;
        justify-content: start;
        margin: 2em;

        svg.logo {
            margin-right: 1em;
            height: 3em;
            width: 3em;
            cursor: pointer;
        }

        h1 {
            margin: 0px;
        }
    }

    content {
        display: flex;
        height: 80%;
        width: 60em;
        margin-left: 6em;
    }

    @import "./mobile/projects.scss";
}