@import "./mobile-header.scss";

@media (max-width: 850px) {
    content {
        .container {
            flex-wrap: wrap;
            margin: 0;
    
            .grid {
                grid-template-columns: 6em 6em 6em 6em;
                grid-template-rows: 6em 6em 6em;
                gap: 1em 1em;
                margin: 0;
                margin-top: 10%;
                // margin-bottom: -40%;
                // margin-left: -20%
            }
    
            .button {
                width: 6em;
                height: 6em;
                border-radius: 20px;
                margin: 0 0 0 1em;
                background-size: 6em;
            }

            .tip {
                text-align: center;
                line-height: 130%;
                margin: 0;
            }

            .next {
				background-size: 2em;
			}

            .gitpot {
				background: url('/assets/icons/gitpot.svg') no-repeat center / 3.5em, radial-gradient(103.52% 103.52% at 34.04% 26.17%, #fa7042 24.28%, #d23652 120%) no-repeat center;
			}
        }
    }
}