// about.scss

.container #about {
    display: flex; // reaffirming flex, if needed
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    height: 100vh;
}

#about {
    header {
        display: flex;
        align-items: center;
        justify-content: start;
        margin: 2em;

        svg.logo {
            margin-right: 1em;
            height: 3em;
            width: 3em;
            cursor: pointer;
        }

        h1 {
            margin: 0px;
        }
    }

    content {
        display: flex;
        height: 80%;
        width: 60em;
        margin-left: 6em;

        .about-text {
            align-self: center;
            font-size: 24px;
        }
    }
}