/* Variables and mixins declared here will be available in all other SCSS files */


// Color Palette
$french-sky-blue: #0091fb;
$deep-sky-blue: #00b2fa;
$capri: #00c4fb;
$light-capri: #45d3fa;
$space-black: #121316;
$space-cadet: #2b2d42;
$space-grey: #3e4053;
$white: #ffffff;


// Font Family
$font-family: 'Manrope', sans-serif;