/* Variables and mixins declared here will be available in all other SCSS files */


// Color Palette
$french-sky-blue: #0091fb;
$deep-sky-blue: #00b2fa;
$capri: #00c4fb;
$light-capri: #45d3fa;
$space-black: #121316;
$space-cadet: #2b2d42;
$space-gray: #3e4053;
$star-gray: #878894;
$white: #ffffff;

// Tooltip Alpha
$space-gray-tooltip: #3e4053b2;

// Font Family
$font-family: 'Manrope', sans-serif;